<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gym Template">
    <meta name="keywords" content="Gym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gym | Template</title>
    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Boostrap links.... -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <!-- Css Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/barfiller.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slicknav.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <!-- Offcanvas Menu Section Begin -->
    <!-- <img src="{% static 'image/hero-2.jpg'%}"> -->
    <!-- <div class="offcanvas-menu-overlay"></div> -->
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="fa fa-close"></i>
        </div>
        <div class="canvas-search search-switch">
            <i class="fa fa-search"></i>
        </div>
        <nav class="canvas-menu mobile-menu">
            <ul>
                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                <li ><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'classes' %}">Classes</a></li>
                <li><a href="{% url 'train' %}">Trainers</a></li>
                <li><a href="{% url 'shedule' %}">Schedules</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                
                <li><a href="{% url 'userpaymentpage' %}">Payment</a></li>
                <li><a href="{% url 'Trainee_logout' %}">Logout</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="canvas-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="row" align="">
                <div class="col-lg-3">
                    <div class="logo">
                        <a href="./index.html">
                            <img src="{% static 'img/logo.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <nav class="nav-menu">
                        <ul>
                            <li class="active"><a href="{% url 'index' %}">Home</a></li>
                            <li ><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'classes' %}">Classes</a></li>
                            <li><a href="{% url 'train' %}">Trainers</a></li>
                            <li><a href="{% url 'shedule' %}">Schedules</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            
                            <li><a href="{% url 'userpaymentpage' %}">Payment</a></li>
                            <li><a href="{% url 'Trainee_logout' %}">Logout</a></li>
                                <!-- <ul class="dropdown">
                                    <li><a href="#">Admin</a></li>
                                    <li><a href="{% url 'login' %}">User</a></li>
                                    <li><a href="#">Trainer</a></li>
                                </ul> -->
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- <div class="col-lg-2">
                    <div class="top-option">
                        <div class="to-search search-switch">
                            <i class="fa fa-search"></i>
                        </div>
                        <div class="to-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="canvas-open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <div id="demo" class="carousel slide " data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1" ></li>
            <!-- <li data-target="#demo" data-slide-to="2"></li> -->
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/hero/hero-1.jpg'%}" alt="" >
                <div class="carousel-caption">
                    <h1 class="text-light">
                      <div class="container">
                    <div class="row" style="margin-bottom: 15%;">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span style="color:white; font-size: 20px; font-family: Arial; padding-right: 50%;">
                                    Shape your body
                                </span>
                                <h1 style="color: #FFFFFF; padding-right: 10%;">BE
                                    <strong style="color: #f36100;" style="font: 18px Muli, sans-serif;" style="margin: 0px opx 18px;">STRONG</strong> 
                                TRAIN HARD</h1>
                                
                            </div>
                        </div>
                    </div>
                </div>
                    </h1>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/hero/hero-2.jpg'%}" alt="">
                <div class="carousel-caption">
                    <h1 class="text-light">
                      <div class="container">
                    <div class="row" style="margin-bottom: 15%;">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span style="color:white; font-size: 20px; font-family: Arial; padding-right: 50%;">
                                    Shape your body
                                </span>
                                <h1 style="color: #FFFFFF; padding-right: 10%;">BE
                                    <strong style="color: #f36100;" style="font: 18px Muli, sans-serif;" style="margin: 0px opx 18px;">STRONG</strong> 
                                TRAIN HARD</h1>
                                
                            </div>
                        </div>
                    </div>
                </div>
                    </h1>
                </div>
            </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span><!-- Previous -->
            <!-- <span class="sr-only">Previous</span> -->
        </a>
        <!-- <a class="carouse-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span> --><!-- Next -->
            <!-- <span class="sr-only">Next</span> -->
        <!-- </a> -->
        <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <!-- <span class="sr-only">Next</span> -->
  </a>
        
    </div>
    <!-- Hero Section End -->

    <!-- ChoseUs Section Begin -->
    <section class="choseus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Why chose us?</span>
                        <h2>PUSH YOUR LIMITS FORWARD</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-034-stationary-bike"></span>
                        <h4>Modern equipment</h4>
                        <p>We have all the Mordern equipments which is nessesary for customer.
                            </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-033-juice"></span>
                        <h4>Healthy nutrition plan</h4>
                        <p>Gives your body the nutrients it needs every day while staying within your daily calorie goal for weight loss.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-002-dumbell"></span>
                        <h4>Proffesponal training plan</h4>
                        <p>We documents your goal and accomplish a staff in order to support.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-014-heart-beat"></span>
                        <h4>Unique to your needs</h4>
                        <p>Our trains will be friendly and we like to know more about our customer like Who You Are, Engage with member and Build Relationships etc.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ChoseUs Section End -->

    <!-- Classes Section Begin -->
    <section class="classes-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Our Classes</span>
                        <h2>WHAT WE CAN OFFER</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="{% static 'image/lift.jpg' %}" alt="">
                        </div>
                        <div class="ci-text">
                            <span>STRENGTH</span>
                            <h5>Weightlifting</h5>
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="{% static 'image/cycling.jpg' %}" alt="">
                        </div>
                        <div class="ci-text">
                            <span>Cardio</span>
                            <h5>Indoor cycling</h5>
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="{% static 'image/gym4.jpg' %}" alt="">
                        </div>
                        <div class="ci-text">
                            <span>BODYBUILDING</span>
                            <h5>Strengthen and enlarge the muscles</h5>
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="{% static 'image/puch.jpg' %}" alt="">
                        </div>
                        <div class="ci-text">
                            <span>Cardio</span>
                            <h4>Punching</h4>
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="{% static 'image/group.jpg' %}" alt="">
                        </div>
                        <div class="ci-text">
                            <span>Group Excersie</span>
                            <h4>Group Classes</h4>
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ChoseUs Section End -->

    <!-- Banner Section Begin -->
    <section>
        <div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="bs-text">
                            <img src="{% static 'img/banner-bg.jpg'%}">
                            <!-- <h2>registration now to get more deals</h2> -->
                            <!-- <div class="bt-tips">Where health, beauty and fitness meet.</div> -->
                            <!-- <a href="#" class="primary-btn  btn-normal">Appointment</a> -->
                        </div>
                        <!-- <div class="container">
                            <img src="{% static 'img/banner-bg.jpg'%}">
                            <div class="centered">Centered</div>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
         <section class="banner-section set-bg" data-setbg="{% static 'img/banner-bg.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="bs-text">
                            <h2>registration now to get more deals</h2>
                            <div class="bt-tips">Where health, beauty and fitness meet.</div>
                            
                        </div>
                    </div>
                </div>
            </div> 
     </section> 
    <!-- Banner Section End -->


    <!-- Gallery Section Begin -->

    <!-- Gallery Section End -->

    <!-- Team Section Begin -->

    <!-- Team Section End -->

    <!-- Get In Touch Section Begin -->
    <div class="gettouch-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-map-marker"></i>
                        <p>333 Middle Winchendon Rd, Rindge,<br/> NH 03461</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-mobile"></i>
                        <ul>
                            <li>125-711-811</li>
                            <li>125-668-886</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text email">
                        <i class="fa fa-envelope"></i>
                        <p>Support.gymcenter@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Get In Touch Section End -->

    <!-- Footer Section Begin -->
    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="fs-about">
                        <div class="fa-logo">
                            <a href="#"><img src="img/logo.png" alt=""></a>
                        </div>
                        <p>follow us on.</p>
                        <div class="fa-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa  fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="fs-widget">
                        <h4>Useful links</h4>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Trainers</a></li>
                            <li><a href="#">Classes</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="fs-widget">
                        <h4>Support</h4>
                        <ul>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">My account</a></li>
                            <li><a href="#">Subscribe</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="fs-widget">
                        <h4>Tips & Guides</h4>
                        <div class="fw-recent">
                            <h6><a href="#">Physical fitness may help prevent depression, anxiety</a></h6>
                            <ul>
                                <li>3 min read</li>
                                <li>20 Comment</li>
                            </ul>
                        </div>
                        <div class="fw-recent">
                            <h6><a href="#">Fitness: The best exercise to lose belly fat and tone up...</a></h6>
                            <ul>
                                <li>3 min read</li>
                                <li>20 Comment</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright-text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  <!-- Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> --> <!-- by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->FITNESS FOCUS
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.barfiller.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>



</body>
</html>